#content { 
    width: 880px; 
    margin: 0 auto; padding: 10px 40px 20px 40px;
    background: #FFF;
    background: rgba(255, 255, 255, 0.75);
}

img {
    width: 96%;
    height: 20%;
    padding-left: 33px;
}

#ie {
    padding-top: 15px;
    padding-bottom: 4px;
    font-size: 150%; 
    text-align: center;
    color: #0044cc;
    
}
.form-control {
    width: 120px;
    height: 30px;
    direction: ltr;
    font-size: small;
}
.duracion{
    width: 50px;
}

p { 
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12;
    text-align: left;
    font-size: small;
}
.cabeza{
    background-color:rgba(0, 197, 166,0.8);
    
   
   
}
span{
    margin-right: 5px;
}
.c {
    color: #FFF;
}


#precio {
    width: 120px;
    height: 30px;
    direction: ltr;
    font-size: small;
}

#exampleInputFile {
    font-size: small;
    
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}



.ing {
    padding-top: 0px;
    padding-bottom: 0px;
}

.sings{
    
    
    // background-color: #EDEDED;
    margin-top: 2%;
    width: 420px;
    //background-color:rgba(183, 217, 201,0.9);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 2px;
    box-shadow:0 1px 0 #cfcfcf;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    
}

#cancion{
    width: 450px;
    height: 360px;
    overflow-y: scroll;
}