/* Credit to bootsnipp.com for the css for the color graph */

.cabeza{
    background-color:rgba(0, 197, 166,0.8);  
}

.c {
    font-size: 14px;
    color: #FFF;
}

.c2 {
    font-size: 15px;
}

.dummy-header{
    text-align: center; 
    vertical-align: middle;
    padding-top: 15px;
    font-size: small; 
}

#det{
    text-align: left;
    padding-top: 13px;
}

#detalle{
    text-align: left;
}

.botonPedir{
    height: 43px;
}

#resumen{
    padding-left: 40px;
}

.content-box-blue {
    background-color: #d8ecf7;
    border: 1px solid #afcde3;
}

.content-box-red {
    background-color: #f9dbdb;
    border: 1px solid #e9b3b3;
}

.punteado{
    border-style: dotted; 
}